@tailwind base;
@tailwind components;
@tailwind utilities;

.dark body {
  background-color: #0D1117;
  color: #C9D1D9;
  
  background-image: radial-gradient(at 15% 15%, #58a6ff26, transparent 70%),
                    radial-gradient(at 85% 95%, #161b221a, transparent 70%);
}


[data-reach-skip-link] {
  @apply sr-only;
}

[data-reach-skip-link]:focus {
  @apply not-sr-only fixed ml-6 top-0 bg-white text-lg px-6 py-2 mt-2 outline-none focus:ring z-50;
}
